.pageButtons{
    height: 30px;
    list-style: none;
    display: flex;
    justify-content: left;
}

.pageButtons a {
    padding: 12px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #7b8ed8;
    cursor: pointer;
}

.pageButtons a:hover {
    color: lightblue;
    background-color: #7b8ed8;
}

.activePage a {
    color: lightblue;
    background-color: #7b8ed8;
}